{% extends 'base.html' %}

{% block content %}
<div class="main">
    <h1>Вітаємо на Iatests!</h1>
    <h2>Гайд з використання сервісу:</h2>
    <div class="guide">
    <span class="4stud">
    <h3>Для студентів</h3>
    <p>1. Зареєструйтесь на сайті вказавши статус "Студент" під час реєстрації</p>
    <p>2. Уведіть своє їм'я та групу. Якщо вашої групи немає у запропонованому переліку, створіть нову</p>
    <p>3. Додайте потрібні вам курси за допомогою коду курсу, який вам має надати викладач</p>
    <p>4. Перейдіть на сторінку курсу та можете починати проходити тести. Оцінки вам має надати викладач</p>
    </span>
    <span class="4teach">
    <h3>Для викладачів</h3>
    <p>1. Зареєструйтесь на сайті вказавши статус "Викладач" під час реєстрації</p>
    <p>2. Уведіть свої ПІБ, контакти та оберіть предмети, які ви викладаєте. Якщо вашого предмету немає у списку, створіть його</p>
    <p>3. Після редагування профілю створіть чи долучіться до нового курсу натиснувши "+". Долучитись можна за кодом, який вам має надати інший викладач</p>
    <p>4. Після доєднання до курсу ви отримаєте доступ до журналу з оцінками студентів та до створення, переглядання і видалення запланованих, активних і завершених тестів</p>
    <p>5. Щоб створити тест натисніть "+". Ви перейдете до редактора, де зможете налаштувати шкалу оцінювання, дедлайн, час публікації тесту, час на проходження та створити питання і відповіді до них. На даних момент сайт підтримує можливість створення питання з однією та кількома правильними відповідями</p>
    <p>6. Оцінки виставляються автоматично, передивитись їх можна як для кожного тесту окремо, так і у загальному журналі</p>
    </span></div>
    <h2>Команда розробників:</h2>
    <ul style="padding-left:40px">
        <li><a href="https://www.linkedin.com/in/olegataman/">Атаман Олег</a></li>
        <li><a href="#">Аспарян Дмитро</a></li>
        <li><a href="#">Зубов Андрій</a></li>
        <li><a href="#">Єсипенко Костянтин</a></li>
    </ul>
    <h2>Застосовані технології:</h2>
    <ul style="padding-left:40px">
        <li>Python 3.10.9</li>
        <li>Django 4.1.4</li>
        <li>HTML+CSS</li>
        <li>JavaScript</li>
        <li>Sqlite3</li>
        <li>Git</li>
    </ul>
</div>
{% endblock %}